@use 'base';

.blogs__item{
  position: relative;
}

.blogs__wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 31px 44px;
}

.blogs__tags_wrapper{
  display: flex;
  align-items: center;
}

.blogs__tag{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: #7AC751;

  background: #F8FAFB;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;

  padding: 4px 10px;
  box-sizing: border-box;

  img{
    margin-right: 5px;
  }
}

.blogs__date{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  letter-spacing: 0.008em;

  /* Light/Text Link Color/White */

  color: #FFFFFF;

}

.blogs__title{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  /* or 47px */

  letter-spacing: 0.005em;

  /* Text/White */

  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 25px;
}

.blogs__link{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  letter-spacing: 0.008em;

  /* Light/Text Link Color/White */

  color: #FFFFFF;
}
