@import 'reset-css';
@import 'base';

@import url('https://fonts.cdnfonts.com/css/Rubik');
@import url('https://fonts.cdnfonts.com/css/Mulish');
@import './header.scss';
@import './search.scss';
@import "./menu.scss";
@import "./sidebar.scss";
@import "./galleryTop.scss";
@import './listLinks.scss';
@import './banners.scss';
@import "./tabs.scss";
@import "./feed.scss";
@import "./section.scss";
@import "./timer.scss";

body {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  //background: $green;
}

#root{
  background: $white;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.container{
  width: 1170px;
  margin: auto;
}

.hidden{
  display: none;
}
